@import './theme.less';

svg{
    margin-right: 8px;
    vertical-align: text-bottom;
    cursor: pointer;
}

.header(){
    position: fixed;
    height: @header-height;
    top: 0;
    width: 100%;
    display: flex;
    z-index:1000;
    backdrop-filter: blur(12px);

    .logo{
        font-size: 20px;
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        letter-spacing: -0.03em;
        pointer-events: none;
    }
    .content{
        display: flex;
        margin:auto 0;
        width: 100%;
        padding: 0 24px;
        .spacer{
            flex-grow: 1;
        }
        .iconWrapper{
            height: 20px;
            margin:auto 0;
            .icon{
                font-size: 20px;
                vertical-align: text-bottom;
            }
        }
    }
}
.headerTop{
    .header();
}
.headerScrolled{
    .header();
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1);

}
.contentWrapper{
    display: flex;
    flex-direction: column;
    .content{
        flex: 1;
        .spotify{
            color:@spotify-color;
        }
        padding: @header-height 24px 8px 24px;
        .titleContainer{
            text-align: center;
            .title{
                font-size: 64px;
                font-weight: 700;
                letter-spacing: -0.043em;
                margin-bottom: 24px;
                .colorText{
                    background: -webkit-linear-gradient(0deg, @theme-color, @theme-color-dark);
                    -webkit-background-clip: text;
                    background-clip:text;
                    -webkit-text-fill-color: transparent;   
                }
            }
            .lowerTitle{
                font-size: 40px;
                font-weight: 700;
                letter-spacing: -0.04em;
                margin-top: 24px;
            }
        }
        .signin{
            text-align: center;
            margin-top: 48px;
            margin-bottom: 128px;
            .signinButton{
                .icon{
                    color:@spotify-color;
                    vertical-align: text-bottom;
                    margin-right: 4px;
                }
                font-size: 16px;
                padding: 12px 32px;
                border:0;
                background-color: white;
                box-shadow: 0 4px 14px 0 rgba(0,0,0,0.1);
                border-radius: 32px;
                height: 48px;
                cursor: pointer;
                &:focus{
                    outline:0;
                }
            }
            .startButton{
                margin:0 8px;
                font-size: 16px;
                font-weight: 700;
                padding: 12px 32px;
                width: 200px;
                border:0;
                color: white;
                background: linear-gradient(90deg, @theme-color, @theme-color-dark);
                box-shadow: 0 4px 14px 0 rgba(0,0,0,0.1);
                border-radius: 32px;
                height: 48px;
                cursor: pointer;
                &:focus{
                    outline:0;
                }
            }
            .logoutButton{
                margin:0 8px;
                font-size: 16px;
                font-weight: 700;
                padding: 12px 32px;
                width: 200px;
                border:0;
                background-color: white;
                box-shadow: 0 4px 14px 0 rgba(0,0,0,0.1);
                border-radius: 32px;
                height: 48px;
                cursor: pointer;
                &:focus{
                    outline:0;
                }
            
            }
        }
        .mainContainer{
            display: flex;
            margin-top: 32px;
            justify-content: center;
            color:@text-color;
            .titleWrapper{
                display: flex;
                justify-content: center;
                margin:0 8px;

                .titleCommon(){
                    font-weight: 700;
                    font-size: 24px;
                    text-align: center;
                    margin-bottom:8px;
                    padding: 0 12px;
                    cursor: pointer;
                    letter-spacing: -0.03em;
                }
                .title{
                    .titleCommon();
                    border-bottom: 3px solid @theme-color;
                }
                .titleUnselected{
                    .titleCommon();
                    color: #999;
                }
            }

            .searchCard{
                border-radius: 4px;
                width: 560px;
                margin:0 8px;
                .searchResultContainer{
                    border: @border-base;
                    padding:16px;
                    overflow: auto;
                }
            }
            .recommendCard{
                border-radius: 4px;
                width: 560px;
                margin:0 8px;
                .recommendContainer{
                    .recommendTypeContainer{
                        padding:16px 16px 0 16px;
                        height: 64px;
                        display: flex;
                        .recommendType(){
                            font-size: 20px;
                            font-weight: 700;
                            margin: auto 0;
                        }
                        .recommendTypeUpper{
                            .recommendType();
                            color: @theme-color-upper;
                        }
                        .recommendTypeDowner{
                            .recommendType();
                            color: @theme-color-light;
                        }
                    }
                    .recommendContent{
                        padding:16px;
                        border: @border-base;
                        height: 260px;
                        overflow: auto;
                    }
                }
            }
            .playlistCard{
                width: 560px;
                border-radius: 4px;
                margin:0 8px;
                .playlistContainer{
                    border: @border-base;
                    overflow: auto;
                    padding: 16px;
                }
            }
        }
    }
    .footer{
        color:@text-color;
        padding:16px;
        font-size: 14px;
        height: 48px;
        text-align: center;
    }
}

.inputContainer{
    padding:16px;
    .input{
        height: 32px;
        border: 0;
        border-bottom: 2px solid @border-color;
        font-size: 16px;
        padding:8px;
        color:@text-color;
        &:focus{
            outline:0;
            border-bottom: 2px solid @theme-color;
        }
    }
    .save{
        margin-left: 12px;
        font-size: 14px;
        font-weight: 700;
        padding: 8px 16px;
        border:0;
        background-color: @theme-color;
        color: white;
        // box-shadow: 0 4px 14px 0 rgba(0,0,0,0.1);
        border-radius: 32px;
        height: 32px;
        cursor: pointer;
        &:focus{
            outline:0;
        }
        &:disabled{
            cursor: not-allowed;
            background-color: lighten(@theme-color, 30%);
        }
    }
}

.player{
    position: fixed;
    // top: calc(@header-height + 8px);
    bottom: 16px;
    right: 16px;
    width:360px;
    height: 80px;
    box-shadow: 0 4px 14px 0 rgba(0,0,0,0.1);
    border-radius: 4px;
    z-index: 1000;
    background-color: white;
    display: flex;
    img{
        border-radius: 4px 0 0 4px;
    }
    .description{
        padding:8px 8px 0 8px;
        .name{
            display: inline-block;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: 240px;
            font-weight: 600;
        }
        .artist{
            display: inline-block;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: 240px;
            font-size: 14px;
        }
        .controller{
            display: flex;
            margin-top: 4px;
            .seekbar{
                margin:auto 0;
                width: 240px;
                height: 6px;
                border-radius: 4px;
                background: linear-gradient(@theme-color, @theme-color) no-repeat #eee;
                cursor: pointer;
            }
        }
    }
}

.messageRow{
    height: 80px;
    display: flex;
    border: 2px solid @theme-color;
    .message{
        font-weight: 700;
        color: @theme-color;
        margin: auto 16px;
        font-size: 18px;
    }
}